<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sheets DB</title>
</head>
<body>
<h1>Meta information</h1>
<table>
    <tr>
        <td>Meta spreadsheet ID</td>
        <td><a href="{{ meta_spreadsheet_link }}" target="_blank">{{ meta_spreadsheet_id }}</a></td>
    </tr>
    <tr>
        <td>Number of tables</td>
        <td>{{ num_tables }}</td>
    </tr>
</table>
<h1>Tables information</h1>
<table>
    <tr>
        <th>Database</th>
        <th>Name</th>
        <th>Spreadsheet ID</th>
        <th>Column name</th>
        <th>Column type</th>
    </tr>
    {% for table in tables %}
        <tr>
            <td>{{ table.database_name }}</td>
            <td>{{ table.table_name }}</td>
            <td><a href="{{ table.spreadsheet_link }}" target="_blank">{{ table.spreadsheet_id }}</a></td>
        </tr>
        {% for col_def in table.col_defs %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ col_def.name }}</td>
                <td>{{ col_def.type }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>